<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tesla Vandalism Map</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
            display: flex;
        }
        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <!-- <header>
        <h1>Tesla Vandalism Incidents</h1>
    </header> -->
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2023 Tesla Vandalism Tracker</p>
    </footer>
</body>
</html>